<table class="table table-rounded table-hover table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th>Boleta</th>
            <th>Cargo</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr class="scjn">
            <td class="scjn-bg">SCJN</td>
            <td>Ministro o Ministra de la Suprema Corte de Justicia de la Nación</td>
            <td class="text-center">9</td>
        </tr>
        <tr class="tdj">
            <td class="tdj-bg">TDJ</td>
            <td>Integrante del Tribunal de Disciplina Judicial</td>
            <td class="text-center">1</td>
        </tr>
        <tr class="ss-tepjf">
            <td>TJDF</td>
            <td>Magistrado o Magistrada de la Sala Superior del Tribunal Electoral del Poder Judicial de la Federación</td>
            <td class="text-center">2</td>
        </tr>
        <tr class="sr-tepjf">
            <td>TJDF</td>
            <td>Magistrado o Magistrada de la Sala Regional del Tribunal Electoral del Poder Judicial de la Federación</td>
            <td class="text-center">3</td>
        </tr>
        <tr class="tcd">
            <td>TCD</td>
            <td>Magistrado o Magistrada del Tribunal Colegiado de Circuito y de Apelación</td>
            <td class="text-center">7</td>
        </tr>
        <tr class="jd">
            <td>JD</td>
            <td>Juez o Jueza de Distrito</td>
            <td class="text-center">5</td>
        </tr>
    </tbody>
</table>