
    <tr>
        <td class="text-center">3</td>
        <td>Magistrada o Magistrado del Tribunal de Conciliación y Arbitraje del Estado</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">3</td>
        <td>Magistrada o Magistrado del Tribunal de Justicia Administrativa del Estado</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">3</td>
        <td>Magistrada o Magistrado del Tribunal de Disciplina Judical</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">4</td>
        <td>Magistrada o Magistrado del Tribunal Superior del Estado</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td>Jueza o Juez integrante del Tribunal de Enjuiciamiento Colegiado con competencia en todo el Estado</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td>Juez o Jueza del Juzgado de Ejecución especializado de medidas aplicables a Adolescentes y de ejecución de sanciones penales del Estado</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td>Juez del Tribunal de Enjuiciamiento Colegiado con competencia en todo el Estado</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td>Juez del Juzgado del Sistema Tradicional Penal y especializado en administración de justicia para adolescentes</td>
        <td>Todo el Estado</td>
    </tr>
    <tr>
        <td class="text-center">1</td>
        <td>Juez o jueza del Juzgado Familiar Especializado en asuntos urgentes para
 mujeres que viven en situación de violencia con competencia en
            todo el estado de Tlaxcala</td>
        <td>Todo el Estado</td>
    </tr>
<tr>
        <td class="text-center">1</td>
    <td>Juez del Juzgado Primero de lo Laboral</td>
    <td>Todo el Estado</td>
</tr>