.scjn td {
    background-color: #8b81d9;
    color: #E7E7F9;
}

.tdj td {
    background-color: #81C7BB;
    color: #EDF6F5;
}

.ss-tepjf td {
    background-color: #2C7E9B;
    color: #E1ECEF;
}

.sr-tepjf td {
    background-color: #FDC3BC;
    color: #000000;
}

.tcd td {
    background-color: #c08ca6;
    color: #f8ebf4;
}

.jd td {
    background-color: #F7DA10;
    color: #000000;
}