{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Expediente del distrito judicial penal {{ djp.nombre }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Expediente del distrito judicial penal {{ djp.nombre }}</h1>
        </div>
    </div>
    <div class="row"><!-- datos -->
        <div class="col-md-8 col-sm-12">
            <div id="map">
                <img src="{% static 'img/466.png' %}" class="w-100" alt="Municipio {{ municipio.municipio|stringformat:"03d" }} {{ municipio.nombre }}" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col">
                    <h2>Información general</h2>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Secciones</th>
                                <td>{{ djp.get_secciones }} secciones</td>
                            </tr>
                            <tr>
                                <th>Municipios</th>
                                <td>{{ djp.municipio_set.count }} municipios</td>
                            </tr>
                            <tr>
                                <th>Padrón Electoral</th>
                                <td>{{ djp.get_pe|intcomma }}</td>
                            </tr>
                            <tr>
                                <th>Lista Nominal</th>
                                <td>{{ djp.get_ln|intcomma }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- ./datos -->

    <div class="row"><!-- secciones -->
        <div class="col">

            <div class="row">
                <h2>Cargos Federales</h2>
                {% include 'partials/_federales.html' %}
            </div>

            <div class="row">
                <h2>Cargos Locales</h2>
                <table class="table table-striped table-rounded table-hover table-bordered table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Cargos</th>
                            <th>Cargo</th>
                            <th>Ámbito</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'partials/_locales.html' %}
                        {% for obj in djp.cargosdjp_set.all %}
                            <tr>
                                <td class="text-center">1</td>
                                <td>{{ obj.cargo }}</td>
                                <td>{{ obj.djp }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    <div class="col">
        <h2>Secciones</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Municipio</th>
                    <th>Secciones</th>
                </tr>
            </thead>
            <tbody>
                {% for municipio, secciones in secciones_por_municipio.items %}
                    <tr>
                        <td>
                            <a href="{% url 'municipio_detail' entidad=municipio.entidad.entidad municipio=municipio.municipio %}">
                                {{ municipio.municipio|stringformat:"03d" }}
                                {{ municipio.nombre }}
                            </a>
                        </td>
                        <td>
                            {% for seccion in secciones %}
                                <a href="{% url 'seccion_detail' entidad=seccion.entidad.entidad seccion=seccion.seccion %}" class="m-2">{{ seccion.seccion|stringformat:"04d" }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div><!-- ./secciones -->
</div>
{% endblock content %}
