{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Expediente del municipio {{ municipio.municipio|stringformat:"03d" }} {{ municipio.nombre }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Expediente del municipio {{ municipio.municipio|stringformat:"03d" }} {{ municipio.nombre }}</h1>
        </div>
    </div>
    <div class="row"><!-- datos -->
        <div class="col-md-6 col-sm-12">
            <div id="map">
                <img src="{% static 'img/466.png' %}" class="w-100" alt="Municipio {{ municipio.municipio|stringformat:"03d" }} {{ municipio.nombre }}" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col">
                    <h2>Información general</h2>

                    <div class="row">
                        <div class="col-sm-4"><strong>Municipio</strong></div>
                        <div class="col">{{ municipio.municipio|stringformat:"03d" }} {{ municipio.nombre }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Secciones</strong></div>
                        <div class="col">{{ municipio.seccion_set.count }} secciones</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Padrón Electoral</strong></div>
                        <div class="col">{{ municipio.get_pe|intcomma }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Lista Nominal</strong></div>
                        <div class="col">{{ municipio.get_ln|intcomma }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Distrito Judicial Penal</strong></div>
                        <div class="col"><a href="{% url 'djp_detail' entidad=municipio.entidad.entidad djp=municipio.djp.djp %}">{{ municipio.djp.nombre }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Distrito Judicial Civil</strong></div>
                        <div class="col"><a href="{% url 'djc_detail' entidad=municipio.entidad.entidad djc=municipio.djc.djc %}">{{ municipio.djc.nombre }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Secciones</strong></div>
                        <div class="col">
                            {% for seccion in municipio.seccion_set.all %}
                                <a href="{% url 'seccion_detail' entidad=municipio.entidad.id seccion=seccion.seccion %}" class="m-2">{{ seccion.seccion|stringformat:"04d" }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div><!-- ./datos -->

        <div class="row"><!-- Cargos -->
        <div class="col">
            <h2>Cargos Federales</h2>
            {% include 'partials/_federales.html' %}
        </div>
        <div class="col">
            <h2>Cargos Locales</h2>
            <table class="table table-striped table-rounded table-hover table-bordered table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Cargos</th>
                        <th>Cargo</th>
                        <th>Ámbito</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'partials/_locales.html' %}
                    {% for obj in municipio.djp.cargosdjp_set.all %}
                        <tr>
                            <td class="text-center">1</td>
                            <td>{{ obj.cargo }}</td>
                            <td>{{ obj.djp }}</td>
                        </tr>
                    {% endfor %}
                    {% for obj in municipio.djc.cargosdjc_set.all %}
                        <tr>
                            <td class="text-center">1</td>
                            <td>{{ obj.cargo }}</td>
                            <td>{{ obj.djc }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- ./Cargos -->


</div>
{% endblock content %}