{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Expediente de la Sección {{ seccion.seccion|stringformat:"04d" }}{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="row"><!-- MGE -->
    <div class="col-md-6 col-sm-12">
        <embed
            src="{% static 'pusis/' %}{{ seccion.seccion }}.pdf#zoom=page-width"
            type="application/pdf"
            width="100%"
            height="450px" />
    </div>
    <div class="col">
      <h1>Expediente de la Sección {{ seccion.seccion|stringformat:"04d" }}</h1>
        <div class="row">
            <div class="row">
                <div class="col-sm-4">
                    <strong>Padrón Electoral</strong>
                </div>
                <div class="col">
                    {{ seccion.pe|intcomma }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Lista Nominal</strong>
                </div>
                <div class="col">
                    {{ seccion.ln|intcomma }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Tipo</strong>
                </div>
                <div class="col">
                    {{ seccion.get_tipo_display}}
                </div>
            </div>
            <div class="row"><!-- Municipio -->
                <div class="col-sm-4"><strong>Municipio</strong></div>
                <div class="col">
                    <a href="{% url 'municipio_detail' entidad=seccion.entidad.entidad municipio=seccion.municipio.municipio %}">
                        {{ seccion.municipio.municipio }} {{ seccion.municipio.nombre }}
                    </a>
                </div>
            </div>
            <div class="row"><!-- Distrito Federal -->
                <div class="col-sm-4"><strong>Distrito Electoral</strong></div>
                <div class="col">
                    <a href="{% url 'distrito_detail' entidad=seccion.entidad.entidad distrito=seccion.distrito_federal.distrito_federal %}">
                        {{ seccion.distrito_federal.distrito_federal|stringformat:"02d" }}
                    </a>
                </div>
            </div>
            <div class="row"><!-- Distrito Local -->
                <div class="col-sm-4"><strong>Distrito Local</strong></div>
                <div class="col">
                    <a href="{% url 'distrito_local_detail' entidad=seccion.entidad.entidad distrito=seccion.distrito_local.distrito_local %}">
                        {{ seccion.distrito_local.distrito_local|stringformat:"02d" }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Distrito Judicial Penal</strong></div>
                <div class="col">
                    <a href="{% url 'djp_detail' entidad=seccion.entidad.entidad djp=seccion.municipio.djp.djp %}">
                        {{ seccion.municipio.djp.nombre }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Distrito Judicial Civil</strong></div>
                <div class="col">
                    <a href="{% url 'djc_detail' entidad=seccion.entidad.entidad djc=seccion.municipio.djc.djc %}">
                        {{ seccion.municipio.djc.nombre }}
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div><!-- ./MGE -->

    <div class="row"><!-- Cargos -->
        <div class="col">
            <h2>Cargos Federales</h2>
            {% include 'partials/_federales.html' %}
        </div>
        <div class="col">
            <h2>Cargos Locales</h2>
            <table class="table table-striped table-rounded table-hover table-bordered table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Cargos</th>
                        <th>Cargo</th>
                        <th>Ámbito</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'partials/_locales.html' %}
                    {% for obj in seccion.municipio.djp.cargosdjp_set.all %}
                        <tr>
                            <td class="text-center">1</td>
                            <td>{{ obj.cargo }}</td>
                            <td>{{ obj.djp }}</td>
                        </tr>
                    {% endfor %}
                    {% for obj in seccion.municipio.djc.cargosdjc_set.all %}
                        <tr>
                            <td class="text-center">1</td>
                            <td>{{ obj.cargo }}</td>
                            <td>{{ obj.djc }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- ./Cargos -->

{% endblock content %}